# Visual Studio Code .gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

sf-prototype/pkg
sf-prototype/bin
sf-prototype/obj
packages